@using ProjektAplikacjaBudowlanka.Models.DTO
@using ProjektAplikacjaBudowlanka.Models.DTO.Pracownik
@model List<PracownikSelectDTO>

<h2>Lista Pracowników</h2>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if(Model.Count == 0)
{
    <p>Brak pracowników</p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Stanowisko</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pracownik in Model)
        {
            <tr>
                <td>@pracownik.Imie</td>
                <td>@pracownik.Nazwisko</td>
                <td>@pracownik.Stanowisko</td>
                <td>
                        <a asp-action="DeletePracownik" asp-route-id="@pracownik.Id" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>
}
<a asp-action="AddPracownik" asp-controller="Pracownik" class="btn btn-primary">Dodaj nowego pracownika</a>