@using ProjektAplikacjaBudowlanka.Models.DTO.Uslugodawca;
@model List<UslugodawcaSelectDTO>

<h2>Lista Ekip</h2>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if(Model.Count == 0)
{
    <p>Brak ekip</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa Ekipy</th>
                <th>NIP</th>
                <th>Pracownicy</th>
                <th>Zdjęcia</th>
                <th>Opinie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ekipa in Model)
            {
                <tr>
                    <td>@ekipa.Nazwa</td>
                    <td>@ekipa.NIP</td>
                    <td>
                        @if (ekipa.Pracownicy.Any())
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Imię</th>
                                        <th>Nazwisko</th>
                                        <th>Stanowisko</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var pracownik in ekipa.Pracownicy)
                                    {
                                        <tr>
                                            <td>@pracownik.Imie</td>
                                            <td>@pracownik.Nazwisko</td>
                                            <td>@pracownik.Stanowisko</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>Brak pracowników</p>
                        }
                    </td>
                    <td>
                        @if (ekipa.Zdjecia.Any() || true)
                        {
                            <ul>
                                @foreach (var zdjecie in ekipa.Zdjecia)
                                {
                                    <a href=~/lib/Zdjecia/@zdjecie.NazwaPliku download>
                                        <img src=~/lib/Zdjecia/@zdjecie.NazwaPliku alt="Zdjęcie" width="150" height="150" />
                                    </a>
                                }
                            </ul>
                            
                        }
                        else
                        {
                            <p>Brak zdjęć</p>
                        }
                    </td>
                    <td>
                        <a class="btn btn-dark" asp-route-id="@ekipa.idUslugodawca" asp-controller="Opinia" asp-action="Index">Opinie</a>
                    </td>
                </tr>
            }
        </tbody>
        
    </table>
}