@using ProjektAplikacjaBudowlanka.Models.DTO
@model UserSelectDTO
@if (User.IsInRole("Klient"))
{
    <h2>Profil użytkownika</h2>
}
else
{
    <h2>Profil firmy</h2>
}


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<form method="post" asp-controller="User" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <label asp-for="Login"></label>
        <span id="LoginSpan" class="text-danger">@ViewData["LoginSpan"]</span>
        <input asp-for="Login" class="form-control" />
    </div>

    <div>
        <label asp-for="Password"></label>
        <span id="HasloSpan" class="text-danger">@ViewData["HasloSpan"]</span>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    @if (User.IsInRole("Klient"))
    {
        <div>
            <label asp-for="Imie"></label>
            <span id="ImieSpan" class="text-danger">@ViewData["ImieSpan"]</span>
            <input asp-for="Imie" class="form-control" />
        </div>

        <div>
            <label asp-for="Nazwisko"></label>
            <span id="NazwiskoSpan" class="text-danger">@ViewData["NazwiskoSpan"]</span>
            <input asp-for="Nazwisko" class="form-control" />

        </div>
    }
    @if (User.IsInRole("Firma"))
    {
        <div>
            <label asp-for="Nazwa"></label>
            <span id="NazwaFirmySpan" class="text-danger">@ViewData["NazwaFirmySpan"]</span>
            <input asp-for="Nazwa" class="form-control" />
        </div>

        <div>
            <label asp-for="NIP"></label>
            <span id="NIPSpan" class="text-danger">@ViewData["NIPSpan"]</span>
            <input asp-for="NIP" class="form-control" />
        </div>
    }
    <br/>
    <button type="submit" class="btn btn-primary">Zapisz</button>
</form>